.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text {
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 64px;
}